# GGIS 407 : Cyber GIS and Geospatial Data Science
## Geospatial Data Science Project – Data Cleaning and Preperation
#### Date : 3-7-2023 
#### Author : Priyadarshini Satish

In [1]:
'''
Importing the CT List file which was contains state, city and country information along with min_age, max_age, condition being tested, 
and an ID. 
Data Source : https://clinicaltrials.gov/ct2/resources/download#DownloadStudy
'''
import pandas as pd
ct_list = pd.read_excel("CT_list.xlsx")
ct_list.head()

,Unnamed: 0,nct_id,ct_title,condition,gender,min_age,max_age,facility_name,city,state,country
0,0,NCT00000102,Congenital Adrenal Hyperplasia: Calcium Channe...,Congenital Adrenal Hyperplasia,All,14.0,35.0,Medical University of South Carolina,Charleston,South Carolina,United States
1,1,NCT00000104,Does Lead Burden Alter Neuropsychological Deve...,Lead Poisoning,Female,0.0,NaN,"Department of Neurology 420 Delaware St. SE, B...",Minneapolis,Minnesota,United States
2,2,NCT00000105,Vaccination With Tetanus and KLH to Assess Imm...,Cancer,All,18.0,NaN,"Division of Hematology, Oncology, and Transpla...",Minneapolis,Minnesota,United States
3,3,NCT00000106,41.8 Degree Centigrade Whole Body Hyperthermia...,Rheumatic Diseases,All,18.0,65.0,K4/666 CSC 600 Highland Av,Madison,Wisconsin,United States
4,4,NCT00000107,Body Water Content in Cyanotic Congenital Hear...,"Heart Defects, Congenital",All,17.0,60.0,University of Vermont,Burlington,Vermont,United States

In [2]:
'''
Examining the data set
'''
ct_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159579 entries, 0 to 159578
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     159579 non-null  int64
 1   nct_id         159579 non-null  object
 2   ct_title       159579 non-null  object
 3   condition      159576 non-null  object
 4   gender         159572 non-null  object
 5   min_age        150042 non-null  float64
 6   max_age        74931 non-null   float64
 7   facility_name  155294 non-null  object
 8   city           159579 non-null  object
 9   state          159579 non-null  object
 10  country        159579 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 13.4+ MB

In [3]:
'''
Subsetting for unique combinations of city, country and state then dropping duplicates
'''
loc_table = ct_list[['city','state','country']]
loc_table.drop_duplicates(inplace=True)
loc_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3042 entries, 0 to 159496
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city     3042 non-null   object
 1   state    3042 non-null   object
 2   country  3042 non-null   object
dtypes: object(3)
memory usage: 95.1+ KB

/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.0/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [5]:
'''
Checking if null values exist in city
'''
filtered_loc_table = loc_table[(pd.isna(loc_table['city']) == False) ]

In [6]:
'''
Cleaning city and state columns
'''

filtered_loc_table['city_cleaned'] = filtered_loc_table['city'].str.lower().str.replace(".","")
filtered_loc_table['state_cleaned'] = filtered_loc_table['state'].str.lower().str.replace(".","")
filtered_loc_table['city_state_cleaned'] = filtered_loc_table['city_cleaned'] + ', ' + filtered_loc_table['state_cleaned']

/tmp/ipykernel_293/3069894209.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  filtered_loc_table['city_cleaned'] = filtered_loc_table['city'].str.lower().str.replace(".","")
/tmp/ipykernel_293/3069894209.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  filtered_loc_table['state_cleaned'] = filtered_loc_table['state'].str.lower().str.replace(".","")

In [7]:
filtered_loc_table['city_cleaned'].nunique(),filtered_loc_table['state_cleaned'].nunique()

(2600, 51)

In [10]:
'''
Reading the US city file which contains all cites in USA with latitude and longitude information.
Data Source: https://simplemaps.com/data/us-cities
'''
us_cities = pd.read_csv("uscities.csv")

In [38]:
us_cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18972871,10768.2,shape,False,True,America/New_York,1,11229 11226 11225 11224 11223 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8595181,4576.6,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5668165,1522.2,shape,False,True,America/Chicago,1,75287 75098 75234 75254 75251 75252 75253 7503...,1840019440

In [11]:
'''
Cleaning the columns to match the structure of the CT_List table
'''

us_cities['city_cleaned'] = us_cities['city'].str.lower().str.replace(".","")
us_cities['state_cleaned'] = us_cities['state_name'].str.lower().str.replace(".","")
us_cities['city_state_cleaned'] = us_cities['city_cleaned'] + ', ' + us_cities['state_cleaned']

/tmp/ipykernel_293/129854764.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  us_cities['city_cleaned'] = us_cities['city'].str.lower().str.replace(".","")
/tmp/ipykernel_293/129854764.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  us_cities['state_cleaned'] = us_cities['state_name'].str.lower().str.replace(".","")

In [12]:
'''
Merging the tables based on city and state
'''
merged_table = filtered_loc_table.merge(us_cities[['lat','lng','city_state_cleaned']], how = 'left', on='city_state_cleaned' )
merged_table

,city,state,country,city_cleaned,state_cleaned,city_state_cleaned,lat,lng
0,Charleston,South Carolina,United States,charleston,south carolina,"charleston, south carolina",32.8168,-79.9687
1,Minneapolis,Minnesota,United States,minneapolis,minnesota,"minneapolis, minnesota",44.9635,-93.2678
2,Madison,Wisconsin,United States,madison,wisconsin,"madison, wisconsin",43.0822,-89.3930
3,Burlington,Vermont,United States,burlington,vermont,"burlington, vermont",44.4876,-73.2316
4,Ann Arbor,Michigan,United States,ann arbor,michigan,"ann arbor, michigan",42.2759,-83.7310
...,...,...,...,...,...,...,...,...
3037,University Heights,Ohio,United States,university heights,ohio,"university heights, ohio",41.4948,-81.5350
3038,Oshkosh,Wisconsin,United States,oshkosh,wisconsin,"oshkosh, wisconsin",44.0227,-88.5619
3039,North Port,Florida,United States,north port,florida,"north port, florida",27.0576,-82.1977
3040,E. Corning,New York,United States,e corning,new york,"e corning, new york",NaN,NaN
3041,Lexington,South Carolina,United States,lexington,south carolina,"lexington, south carolina",33.9890,-81.2202

In [13]:
'''
Function for geocoding and retrieiving information from geocode meta data using geopy library on cities that did not get a location from the merge function
'''
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="example app")
def get_location(dp):
    try:
        #to get location of city,state
        location = geolocator.geocode(dp, addressdetails=True)
        return location
    except:
        #if city, state is not found,return pd.NA
        #location = geolocator.geocode(str(dp).split()[-1], addressdetails=True)
        return pd.NA
    
def retrieve_info(dp,type):
    try:
        return dp.raw[str(type)]
    except:
        return pd.NA

In [14]:
'''
Code for retreiving city information from Geocode API. This is retrieved for all cities that could not be detected in the
table by searching for null values only

'''
for index, row in merged_table.loc[merged_table['lat'].isnull()].iterrows():
    print(merged_table.loc[index,'city_state_cleaned'])
    location = get_location(merged_table.loc[index,'city_state_cleaned'])
    merged_table.loc[index,'lng'] = retrieve_info(location,'lon')
    merged_table.loc[index,'lat'] = retrieve_info(location,'lat')

belmont, massachusetts
brookline, massachusetts
hyannis, massachusetts
la jolla, california
research triangle park, north carolina
harbor city, california
saint louis, missouri
washington, dc, district of columbia
raritan, new jersey
groton, connecticut
lajolla, california
horsham, pennsylvania
wellesley hills, massachusetts
sherman oaks, california
nutley, new jersey
greenbrae, california
whitehouse station, new jersey
warren, new jersey
ridgefield, connecticut
peapack, new jersey
wallingford, connecticut
aniston, alabama
fort sam houston, texas
wethersfield, connecticut
clinton township, michigan
livingston, new jersey
belleville, new jersey
lakewood, new jersey
warrington, pennsylvania
winston salem, north carolina
ft smith, arkansas
east hanover, new jersey
trumbull, connecticut
sepulveda, california
purchase, new york
washington, dc, district of columbia
jamaica plain, massachusetts
west roxbury, massachusetts
no little rock, washington
baltimore, kansas
bedford, massachusetts
palo alto, michigan
west los angeles, california
hines, illinois
no little rock, arkansas
jackson, arkansas
indianapolis, north carolina
university park, pennsylvania
freemont, california
berkeley heights, new jersey
scarborough, maine
bridgewater, new jersey
tuscon, arizona
farmington, connecticut
cohasset, massachusetts
egleston, georgia
watertown, massachusetts
berkley, california
homewood,, alabama
phoenix,, arizona
ft worth, texas
glen oaks, new york
berkely, california
university of maryland, college park, maryland
saint petersburg, florida
piscataway, new jersey
multiple locations throughout the united states, texas
ft lauderdale, florida
call for details, nebraska
chestnut hill, massachusetts
cities in alabama, alabama
birmington, alabama
newington, connecticut
multiple locations, indiana
central contact ft worth, texas
richmond,, virginia
san ysidro, california
lower valley, yakima county, washington
new york city, new york
multiple locations throughout the us sponsored by alcon of, texas
ft myers, florida
la masa, california
call for information, new jersey
elk grove, illinois
pamona, california
investigative site, new jersey
lexington,, kentucky
birmgingham, alabama
detroit,, michigan
pittsburgh, arizona
tucson, georgia
charlestown, massachusetts
cities in california, california
greenwich, connecticut
rockland, massachusetts
east brunswick, new jersey
tarzana, california
travis air force base, california
hamilton, new jersey
denver, district of columbia
temple,, texas
plainsboro, new jersey
cherry hill, new jersey
louisville,, kentucky
briarcliff, new york
kansas city, illinois
rogers, arizona
novartis pharmaceuticals, new jersey
durate, california
e hanover, new jersey
rtp, north carolina
charleston, north carolina
west orange, new jersey
los angles, california
unavailable, georgia
san fransisco, california
hollywood, california
saint paul, minnesota
stpaul, minnesota
wellesley, massachusetts
cities in georgia, georgia
braintree, massachusetts
granada hills, california
ehanover, new jersey
chicago,, illinois
neptune, new jersey
freehold, new jersey
fort lauderdale, california
san francsico, california
rolling hills estate, california
shawnee mission, kansas
abbott park, illinois
hopkinton, massachusetts
many locations, alabama
worcester,, massachusetts
ft sam houston, texas
fayetteville, alaska
indianapolis,, indiana
wynnewood, pennsylvania
westminister, maryland
la, california
fishkill, new york
ft lauderdale, florida
valley forge, pennsylvania
ft sam houston, texas
north andover, massachusetts
bristol, rhode island
caqon city, colorado
several locations, california
encino, california
voorhees, new jersey
little rock, alaska
gainsville, florida
bham, alabama
radnor, pennsylvania
ft hood, texas
anchorage, alabama
davidson county, tennessee
tripler amc, hawaii
baltimore,, maryland
albaster, alabama
chinle, fort defiance, whiteriver, az; gallup, shiprock, nm, arizona
tamc, hawaii
washington dc, district of columbia
montclair, new jersey
manchester, new jersey
beechwood, ohio
bridgewater, new york
jackson heights, new york
west bloomfield, michigan
sylmar, california
swiftwater, pennsylvania
opelika,, alabama
lexington, massachusetts
brimingham, alabama
springdale, arizona
fairfield, connecticut
hanover, new hampshire
wilkes barre, pennsylvania
andover, massachusetts
stonybrook, new york
north little rock, arizona
fort gordon, georgia
los angeles county, california
burlington, massachusetts
little rock, alaska
cincinnati,, ohio
washington, dc, district of columbia
mt pleasant, south carolina
port saint lucie, florida
mountain home, tennessee
jamaica, new york
pittsburgh,, pennsylvania
flushing, new york
el pueblo de nuestra señora de los ángeles de porciúncula, california
new milford, connecticut
great lakes, illinois
willingboro, new jersey
ft myers, florida
dothan,, alabama
slingerlands, new york
los angeles-, california
vestavia, alabama
owing mills, maryland
plymouth, massachusetts
novartis us, new jersey
280 south san francisco, california
fort deterick, maryland
long island city, new york
*see various departments*, california
austin,, texas
usa, new jersey
reading, massachusetts
pheonix, arizona
eglin air force base, florida
davis, san diego, california
phildadelphia, pennsylvania
middlebury, connecticut
columbia,, missouri
reseda, california
sleep disorders center, walter reed army medical center, district of columbia
chester, new jersey
http://wwwosteoporosisclinicalresearchcom, new jersey
branford, connecticut
hamden, connecticut
scottsdale,, arizona
boardman, ohio
cranbury, new jersey
387 technology circle, nw, suite 100, atlanta, georgia
newark,, delaware
san francisco bay area, california
ny, new york
vallhala, new york
nationwide, georgia
la jolla,, california
usa, california
east windsor, new jersey
la jolla, california
la jolla / san diego, california
galloway, new jersey
rancho mirage,, california
lousiville, kentucky
pacific palisades, california
brighton, massachusetts
6400 fannin ste 1800, texas
united states of america, new york
roslindale, massachusetts
jacksonvilee, florida
new orleans,, louisiana
indianpolis, indiana
birminham, alabama
coeur d alene, idaho
urbana-champaign, illinois
houston,, texas
encinatas, california
w lafayette, indiana
akron,, ohio
oakwood village, ohio
ft benning, georgia
saint charles, missouri
district of columbia, district of columbia
clackamas, oregon
york, maine
research triangle, north carolina
phila, pennsylvania
ponte vedra beach, florida
kittery, maine
leroy, new york
durham,, north carolina
albquerque, new mexico
park springs, arizona
high point, south carolina
frankling, tennessee
ft lewis, washington
silver springs, maryland
stcharles, missouri
mt kisco, new york
teaneck, new jersey
fayetteville, ar 72703, arkansas
philadelphia,, pennsylvania
wards island, new york
aventura, california
new hartford, new york
2001 santa monica blvd suite 390w, california
hot springs,, arkansas
birmingham,, alabama
santa monica,, california
albququerque, new mexico
slc, utah
las angeles, california
northridge, california
ventura, california
slingerlands, new york
abington, pennsylvania
hot springs, arizona
columbia, arizona
temple, arizona
multiple locations, arizona
south weymouth, massachusetts
colchester, vermont
upton, new york
los angelas, california
van nuys, california
amherst, new york
altanta, georgia
orleans street, baltimore, maryland
east hartford, connecticut
beverly hills, ca, california
redwood, california
140 east 80th street new york, ny 10075, new york
moffett field, california
winston - salem, north carolina
edison, new jersey
-mobile units in king county-, washington
arlington, massachusetts
southborough, massachusetts
chapell hill, north carolina
fort myers,, florida
stcharles, missouri
rtp, north carolina
saint louis, missouri
saddle brook, new jersey
lake worth, florida
the study is managed by kendle international, in wilmington, north carolina
north dartmouth, massachusetts
needham, massachusetts
fairfield, new jersey
downy, california
mount holly, new jersey
chatsworth, california
little rock, arizona
indianapolis,, indiana
sacromento, california
washington dc, district of columbia
rockville center, new york
east 34th street, new york, new york
nyc, new york
rochester, maryland
3340 6 mile rd livonia, michigan
lackland air force base, texas
pittsburg, pennsylvania
maclean, virginia
bennington, vermont
6655 travis suite 460, texas
knoxville and other us cities, california
the bronx, new york
kingston,, rhode island
beverley hills, california
dorchester, massachusetts
st paul and minneapolis, minnesota
darien, connecticut
elliott city, maryland
iowa, iowa
charlotte, durham, raleigh, winston-salem, north carolina
stratford, connecticut
charlotteville, virginia
gelndale, california
laverne, california
daytona, florida
little brunswick, new jersey
liberty township, ohio
clinton twp, michigan
st, charles, missouri
clifton park, new york
jefferson county, colorado
ponte vedra, florida
detriot, michigan
egg harbor township, new jersey
eatontown, nj 07724, new jersey
charleston, california
stlouis, missouri
birmingham (2 locations), alabama
exeter, new hampshire
lanexa, kansas
camp pendlton, california
cincinnnati, ohio
berlin, vermont
tulepo, mississippi
royal oak,, michigan
salt lakecity, utah
w lafayette, indiana
camp pendleton, california
westborough, massachusetts
birminghan, alabama
chattanooga,, tennessee
us, california
california, california
milford, massachusetts
san antonio,, texas
doylestown, pennsylvania
tom's river, new jersey
atlant, georgia
san francisco,, california
bloominton, minnesota
north hollywood, california
washington, dc, district of columbia
phonix, arizona
phila, pennsylvania
saint helena, california
natick, massachusetts
san bernadino, california
waterford, michigan
bellevue, california
phoenix/scottsdale, arizona
land o lakes, florida
huntington, california
denville, new jersey
albequerque, new mexico
north brunswick, new jersey
mt sterling, ohio
long island, new york
oveland park, kansas
550 east orange street, arizona
bedford, new hampshire
colonie, new york
lafayette hill, pennsylvania
newton center, massachusetts
paramaus, new jersey
milwaukee and madison, wisconsin
saint louis park, minnesota
multiple locations, arkansas
eugene,, oregon
penfield, new york
w orange, new jersey
phoenix, arkansas
new haaven, connecticut
murietta, california
momtgomery, alabama
norfolk, connecticut
indianaplis, indiana
elmhurst, new york
toms river, new jersey
spokane,, washington
us medical information, massachusetts
cairo, california
stuebenville, ohio
hershey,, pennsylvania
pinellas, florida
raynham, massachusetts
winter park and celebration, florida
las vegas,, nevada
auburn, massachusetts
phoeniz, arizona
minneapolis and st paul, minnesota
canon city, colorado
baltimore, md, maryland
south birmingham, alabama
e shea blvd, suite c101, arizona
chichago, illinois
n billerica, massachusetts
nellis air force base, nevada
tustin,, california
salt lake city utah, utah
ft meyers, florida
charlottesville/ richmond, virginia
rocky hill, connecticut
cheektowaga, new york
guilford, connecticut
university of california, los angeles, california
hunt valley, maryland
louisvile, kentucky
muscle shoals,, alabama
multiple locations, california
east chicago, illinois
supply, north carolina
west seneca, new york
nottoway, virginia
fort meyers, florida
wpafb, ohio
greer, california
many locations, delaware
ohio, ohio
fort bragg, north carolina
hotsprings, arkansas
new port beach, california
phialdelphia, pennsylvania
los ageles, california
bloomfield, connecticut
woodland hills, california
ft carson, colorado
verona, new jersey
not predetermined, connecticut
broadway, florida
summerfield, florida
quadrangle drive, north carolina
twin cities, minnesota
seatlle, washington
cranberry twp, pennsylvania
kailua kona, hawaii
bloomington,, indiana
norwood, massachusetts
salt lake, utah
eire, pennsylvania
rochelle park, new jersey
holliston, massachusetts
middle village, new york
weymouth, massachusetts
new-york, new york
conifer, colorado
all kpnc facilities, california
glendale, alabama
canton, michigan
amherst, massachusetts
multiple, california
paragould, arizona
cinncinatti, ohio
mt clemens, michigan
many locations, alabama
allegheny county primarily, pennsylvania
fort sill, oklahoma
burmingham, alabama
deleon springs, florida
cross river, new york
southampton, pennsylvania
washington,, district of columbia
fort wayne,, indiana
los angeles, huntington beach, san jose, california
white plains, maryland
minneapolis,, minnesota
hersey, pennsylvania
bridgewater, massachusetts
winchester, massachusetts
multiple locations, maryland
huntingdon valley, pennsylvania
*see various dept's*, arizona
phoenixville, arizona
los angelos, california
new york, new jersey
hallendale, florida
canandaigua, new york
valencia, california
wareham, massachusetts
philadephia, pennsylvania
agawam, massachusetts
westford, massachusetts
cenntennial, colorado
state university, arkansas
pascagaula, mississippi
little rick, arkansas
keesler afb, mississippi
collingswood, new jersey
overland park,, kansas
newington, new hampshire
saint albans, vermont
phiadelphia, pennsylvania
brandenton, florida
atlamonte springs, florida
st petersburgh, florida
'aiea, hawaii
madeira, california
quadrangle drive, chapel hill,, north carolina
manchester, connecticut
fort gratiot, michigan
north hills, california
jefferson county, alabama
bensalem, pennsylvania
baldwin county, alabama
incl greenville, sc and tyler, tx, texas
brunswick, maine
westport, connecticut
lagrange park, illinois
travis afb, california
aurora, california
incl tyler, tx and dallas, tx, texas
new york, usa, new york
brick, new jersey
san pedro, california
milwauke, wisconsin
early phase clinical unit _los angeles, california
portland metropolitan area, oregon
forts sam houston, texas
plainville, connecticut
smithtown, new york
multiple locations, texas
san diego, la jolla, california
foster, rhode island
burlington, alabama
lutherville-timonium, maryland
new york city, new york
southbend, indiana
oklahoma, oklahoma
fresh meadows, new york
agusta, georgia
camp lejeune, north carolina
ca, california
dartmouth, new hampshire
new have, connecticut
west hills, california
andrews air force base, maryland
fairhaven, massachusetts
dryden, new york
henrico, virginia
harris, new york
elemendorf air force base, alaska
middletown, new jersey
south kingstown, rhode island
binghamton, alabama
arlington hts, illinois
marlton, new york
concord, ohio
kaplan, phoenix,, arizona
west lafayete, indiana
contact pi, washington
orange county, california
including dallas and austin, texas
charleston,, west virginia
townsend, maryland
east greenwich, rhode island
portland, salem, albany, corvallis, eugene, oregon
burlington, california
us, texas
west caldwell, new jersey
west hartford, connecticut
guilderland, new york
chapel-hill, north carolina
minneapolis and st paul, minnesota
bimingham, alabama
pasadena,, california
centre city, new jersey
usa and south korea, pennsylvania
besthesda, maryland
murray hill, new jersey
san roman, california
milford, connecticut
stanford university, california
beford, texas
angelus oaks, california
kentucky, kentucky
puyallup, washington, washington
friendship heights, maryland
washington dc, maryland
austsitn, texas
canoga park, california
keesler air force base, mississippi
glencliff, new hampshire
including dallas, tx, ocala, fl, denver, co, florida
colts neck, new jersey
baltimor, maryland
maimi, florida
springdale, alaska
glastonbury, connecticut
wingate, pennsylvania
new jersey, new jersey
queens village, new york
st louis,, missouri
boston, new york
brooklyn, maryland
parris island, south carolina
melrose park, pennsylvania
orangeburg,, new york
clinton, massachusetts
mahwah, new jersey
arizona, arizona
multiple locations, pennsylvania
nyc, new york
windsor, vermont
saint joseph, missouri
springfeild, missouri
durham, nc, north carolina
barker, new york
billerica, massachusetts
lawrence, new jersey
claryville, new york
west bloomfield township, michigan
ridgewood, new york
wayland, massachusetts
fort jackson, south carolina
fort benning, georgia
milledgenville, georgia
no city provided, new jersey
florida, florida
bloomfield, new jersey
cicero, new york
foothill ranch, california
lakeside, arizona
potsdam, new york
danvers, massachusetts
panorama city, california
orange, connecticut
havertown, pennsylvania
emory, georgia
salem, new hampshire
wexford, pennsylvania
north attleboro, massachusetts
brewster, massachusetts
rockport, maine
saint peters, missouri
canyon country, california
gwynn oak, maryland
riverside, rhode island
zuni, new mexico
durham, new hampshire
plymouth, new hampshire
greenfield, massachusetts
saint george, utah
north grafton, massachusetts
georgetown, district of columbia
foxboro, massachusetts
south dartmouth, massachusetts
belcamp, maryland
brick township, new jersey
hanover, maryland
scott air force base, illinois
boyle heights, california
hope, california
multiple locations, washington
barre, massachusetts
ashland, massachusetts
southington, connecticut
georgetown, maine
saint joseph, michigan
beverly, kentucky
boylston, massachusetts
corona del mar, california
saint charles, illinois
lagrange, illinois
maynard, massachusetts
brookhaven, new york
wakefield, rhode island
dedham, massachusetts
anaheim hills, california
moorestown, new jersey
centerville, massachusetts
washington, massachusetts
huntsville, north carolina
boyds, maryland
shirlington, virginia
hixson, tennessee
north chesterfield, virginia
north haven, connecticut
bayside, new york
n augusta, south carolina
marywood, illinois
ijamsville, maryland
cincinnati, indiana
bala-cynwyd, pennsylvania
e elmhurst, new york
cape cañaveral, florida
sault sainte-marie, michigan
cranberry township, pennsylvania
houston, california
coconut grove, florida
hyde park, new york
greenport, new york
base de la fuerza aérea whiteman, missouri
acoma pueblo, new mexico
saint johnsbury, vermont
webster, new york
washington township, new jersey
s setauket, new york
studio city, california
moon, pennsylvania
lagrangeville, new york
chapel hill, virginia
babylon, new york
morgantown, virginia
w fargo, north dakota
pennsauken, new jersey
rindge, new hampshire
rosedale, new york
leeds, massachusetts
middletown, rhode island
mount berry, georgia
newton highlands, massachusetts
toluca lake, california
kingwood, texas
paso robles, california
east norriton, pennsylvania
kykotsmovi, arizona
mendham, new jersey
new fairfield, connecticut
hot springs national park, arkansas
saint clairsville, ohio
old saybrook, connecticut
bloomfield township, michigan
gainesville, new york
south windsor, connecticut
dover, pennsylvania
candler, north carolina
newtown square, pennsylvania
castleton, vermont
johnson, vermont
monroe, connecticut
norfolk, massachusetts
saint clair shores, michigan
baltimore, california
north bergen, new jersey
saint cloud, minnesota
multiple locations, connecticut
vestal, new york
huntington, new york
atlanta, arkansas
camden, new york
milton, massachusetts
strasburg, pennsylvania
bergen, new jersey
mount laurel, new jersey
oakwood, virginia
minnesota, minnesota
greenacres city, florida
cromwell, connecticut
astoria, new york
lincoln, rhode island
santa fe, california
multiple locations, minnesota
east saint louis, illinois
sudbury, massachusetts
s gate, california
lā'ie, hawaii
santa rosa beach, florida
cheshire, connecticut
seneca falls, new york
madison, connecticut
bar harbor, maine
essex, connecticut
fairfax, washington
kingston, massachusetts
scituate, massachusetts
saint johns, florida
helena, texas
westlake, california
leucadia, california
rush, new york
scott depot, west virginia
little neck, new york
holmdel, new jersey
venice, california
e corning, new york

In [15]:
'''
Checking how many rows still have no location information after running the geocode API. 
'''
merged_table.loc[merged_table['lng'].isnull()]

,city,state,country,city_cleaned,state_cleaned,city_state_cleaned,lat,lng
91,LaJolla,California,United States,lajolla,california,"lajolla, california",<NA>,<NA>
130,Aniston,Alabama,United States,aniston,alabama,"aniston, alabama",<NA>,<NA>
260,Indianapolis,North Carolina,United States,indianapolis,north carolina,"indianapolis, north carolina",<NA>,<NA>
349,Multiple Locations Throughout the United States,Texas,United States,multiple locations throughout the united states,texas,multiple locations throughout the united state...,<NA>,<NA>
382,Call for Details,Nebraska,United States,call for details,nebraska,"call for details, nebraska",<NA>,<NA>
...,...,...,...,...,...,...,...,...
2514,Multiple Locations,Washington,United States,multiple locations,washington,"multiple locations, washington",<NA>,<NA>
2689,Base De La Fuerza Aérea Whiteman,Missouri,United States,base de la fuerza aérea whiteman,missouri,"base de la fuerza aérea whiteman, missouri",<NA>,<NA>
2902,Multiple Locations,Connecticut,United States,multiple locations,connecticut,"multiple locations, connecticut",<NA>,<NA>
2935,Greenacres City,Florida,United States,greenacres city,florida,"greenacres city, florida",<NA>,<NA>
2963,Multiple Locations,Minnesota,United States,multiple locations,minnesota,"multiple locations, minnesota",<NA>,<NA>

In [16]:
'''
Defining a function to get the location information based on just the state variable
'''

def get_location_state(dp):
    try:
        location = geolocator.geocode(dp, addressdetails=True)
        return location
    except:
        pd.NA

In [17]:
'''
running that function on remaining rows
'''

for index, row in merged_table.loc[merged_table['lat'].isnull()].iterrows():
    print(index,merged_table.loc[index,'state_cleaned'])
    location = get_location_state(merged_table.loc[index,'state_cleaned'])
    merged_table.loc[index,'lng'] = retrieve_info(location,'lon')
    merged_table.loc[index,'lat'] = retrieve_info(location,'lat')

91 california
130 alabama
260 north carolina
349 texas
382 nebraska
385 alabama
392 alabama
395 indiana
400 texas
416 texas
445 new jersey
470 new jersey
479 alabama
551 new jersey
557 california
574 georgia
576 california
587 minnesota
604 new jersey
614 california
618 california
625 california
645 alabama
658 alaska
695 colorado
698 california
740 hawaii
759 alabama
760 arizona
761 hawaii
797 alabama
876 california
922 maryland
936 maryland
948 california
961 arizona
969 pennsylvania
984 district of columbia
994 new jersey
1021 georgia
1034 new york
1057 kentucky
1067 texas
1077 florida
1083 indiana
1085 alabama
1096 california
1148 new mexico
1154 tennessee
1159 missouri
1177 california
1199 new mexico
1221 arizona
1233 california
1245 georgia
1281 washington
1297 missouri
1309 north carolina
1336 california
1369 texas
1371 california
1382 minnesota
1397 north carolina
1406 virginia
1409 california
1438 michigan
1450 missouri
1454 alabama
1456 kansas
1461 california
1463 ohio
1467 mississippi
1478 utah
1491 alabama
1530 new jersey
1533 georgia
1536 minnesota
1546 arizona
1573 new mexico
1582 kansas
1591 new jersey
1592 wisconsin
1599 arkansas
1610 connecticut
1615 alabama
1622 indiana
1627 massachusetts
1631 ohio
1642 florida
1649 arizona
1663 arizona
1667 illinois
1724 kentucky
1729 california
1756 delaware
1772 arkansas
1778 pennsylvania
1779 california
1794 connecticut
1841 california
1852 arizona
1859 ohio
1862 alabama
1876 pennsylvania
1878 alabama
1904 california
1909 pennsylvania
1912 maryland
1920 arizona
1922 arizona
1974 colorado
1977 mississippi
1978 arkansas
2002 pennsylvania
2015 florida
2016 florida
2021 north carolina
2031 texas
2045 texas
2055 wisconsin
2056 california
2060 oregon
2061 texas
2077 texas
2089 indiana
2096 georgia
2103 connecticut
2121 alaska
2134 alabama
2146 arizona
2149 indiana
2151 washington
2156 texas
2168 oregon
2190 alabama
2203 pennsylvania
2204 maryland
2219 texas
2232 texas
2248 florida
2253 florida
2321 pennsylvania
2341 missouri
2376 georgia
2379 new jersey
2514 washington
2689 missouri
2902 connecticut
2935 florida
2963 minnesota

In [19]:
'''
Merging data with parent table CT List
'''

final_merged_list = pd.merge(ct_list,merged_table[['lat','lng','city','state']], how= 'left' , on=['city','state'])
final_merged_list.head()

,Unnamed: 0,nct_id,ct_title,condition,gender,min_age,max_age,facility_name,city,state,country,lat,lng
0,0,NCT00000102,Congenital Adrenal Hyperplasia: Calcium Channe...,Congenital Adrenal Hyperplasia,All,14.0,35.0,Medical University of South Carolina,Charleston,South Carolina,United States,32.8168,-79.9687
1,1,NCT00000104,Does Lead Burden Alter Neuropsychological Deve...,Lead Poisoning,Female,0.0,NaN,"Department of Neurology 420 Delaware St. SE, B...",Minneapolis,Minnesota,United States,44.9635,-93.2678
2,2,NCT00000105,Vaccination With Tetanus and KLH to Assess Imm...,Cancer,All,18.0,NaN,"Division of Hematology, Oncology, and Transpla...",Minneapolis,Minnesota,United States,44.9635,-93.2678
3,3,NCT00000106,41.8 Degree Centigrade Whole Body Hyperthermia...,Rheumatic Diseases,All,18.0,65.0,K4/666 CSC 600 Highland Av,Madison,Wisconsin,United States,43.0822,-89.393
4,4,NCT00000107,Body Water Content in Cyanotic Congenital Hear...,"Heart Defects, Congenital",All,17.0,60.0,University of Vermont,Burlington,Vermont,United States,44.4876,-73.2316

In [20]:
'''
checking for null values in longitude
'''

final_merged_list['lng'].isnull().sum()

0

In [21]:
'''
exporting to excel for use in next stage of analysis
'''

final_merged_list.to_excel("CT_list_geocode.xlsx")